<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Tambahkan Buku</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Tidak Menemukan Buku yang Anda Mau?</p>
  </div>
</div>

<div class="row justify-content-center">

  <% if(infoSubmitObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoSubmitObj %>
    </div>
  <% } %>

  <% if(infoErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj %>
    </div>
  <% } %>



  <div class="col-8">

    <form action="/submit-book" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control" value="<%= email %>" required placeholder="Enter your email">
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Nama Buku</label>
          <input type="text" name="name" id="name" class="form-control" required placeholder="Enter book name">
          <p id="warningMessage" style="color: red; display: none;">The book already exists, contact admin to add a review to the book</p>
        </div>
        
        <div class="col-12">
          <label for="description" class="form-label">Deskripsi Buku</label>
          <textarea name="description" id="description" class="form-control" required cols="30" rows="4"placeholder="Enter book description"></textarea>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Ulasan Buku</label><br>
          <small>Example: 9/10,</small>
          <small>         Baru Beli, Baru lepas Plastik,</small>
          <small>         alasan jual karena mau beli buku baru,</small>
          <small>         ceritanya bagus.</small>
          <div class="ulasanList">
            <div class="ulasanDiv mb-1">
              <input type="text" name="ulasan" class="form-control" placeholder="Enter review">
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-outline-primary" id="addUlasansBtn">+ Ulasan</button>
          <button type="button" class="btn btn-outline-danger" id="removeUlasansBtn">- Ulasan</button>
        </div>

        <div class="col-12">
          <label for="category">Pilih Kategori</label>
          <select class="form-select form-control" required name="category" aria-label="Category">
            <option selected disabled>Choose Category</option>
            <% categories.forEach(category => { %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="col-12">
          <label for="image">Sampul Buku</label>
          <input type="file" class="form-control" required name="image" accept="image/*">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Tambahkan Buku</button>
        </div>

      </div>
    
    </form>

  </div>
</div>

<script>
  const bookNameInput = document.getElementById('name');
  const warningMessage = document.getElementById('warningMessage');

  bookNameInput.addEventListener('input', async () => {
    const bookName = bookNameInput.value;
    const response = await fetch(`/check-book?name=${bookName}`);
    const data = await response.json();

    if (data.exists) {
      warningMessage.style.display = 'block';
    } else {
      warningMessage.style.display = 'none';
    }
  });
</script>